# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & cache
.pytest_cache/
.coverage

# Packaging & Build
*.egg-info/
dist/
build/
.eggs/

# Environments
.venv/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
